<app-loading *ngIf="isLoading">{{ isLoading }}</app-loading>

<div class="modal">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" #closebutton class="close" data-dismiss="modal" (click)="closeDialog()">&times;</button>
			<h4 class="modal-title">Milestone Form</h4>
		</div>
		<div class="modal-body">
			<form [formGroup]="milestoneForm" (ngSubmit)="onSubmit()">
				<div class="form-group">
					<label for="milestoneCID">Milestone CID:</label>
					<input type="text" id="milestoneCID" formControlName="milestoneCID" />
					<div *ngIf="milestoneForm.get('milestoneCID').hasError('required')">Milestone CID is required.</div>
				</div>

				<div class="form-group">
					<label for="votingPeriod">Voting Period:</label>
					<input type="text" id="votingPeriod" formControlName="votingPeriod" />
					<div *ngIf="milestoneForm.get('votingPeriod').hasError('required')">Voting Period is required.</div>
				</div>

				<button type="submit" [disabled]="!milestoneForm.valid">Submit</button>
			</form>
		</div>
	</div>
</div>
